/*
/ @autor = Mister Papaye
/ @autor = SivlerCore
*/

:root {
    --dark-gray: #333;
    --purple: #6a0dad;
    --pink: #e91e63;
    --blue: #1e88e5;
    --gold: #ffb300;
    --white: #fff;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-gray);
    color: var(--white);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(120deg, var(--purple), var(--pink));
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: gradientBG 15s ease infinite;
    background-size: 200% 100%;
}


header h1 {
    font-size: 1.8rem;
    color: var(--gold);
    margin: 0;
}

header nav a {
    color: var(--white);
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s;
}

header nav a:hover {
    color: var(--gold);
}

header img {
    width: 1.8rem;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.hero {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(120deg, var(--blue), var(--purple));
    color: var(--white);
    animation: gradientBG 15s ease infinite;
    background-size: 200% 100%;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 2rem;
}

.hero img {
    margin-top: 30px;
    border-radius: 15px;
    width: 16%;
    height: auto;
    transition: all 0.4s;
}

.hero img:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.hero button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: var(--dark-gray);
    background-color: var(--gold);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

.hero button:hover {
    transform: scale(1.1);
}

.silversounddetector {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(120deg, var(--purple), var(--blue));
    color: var(--white);
    animation: gradientBG 15s ease infinite;
    background-size: 200% 100%;
    border-top: 5px solid var(--dark-gray);
}


.silversounddetector h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.silversounddetector p {
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.silversounddetector .ssd-info {
    text-align: center;
    background: linear-gradient(90deg, var(--purple), var(--pink));
    border-radius: 15px;
    width: 45%;
    height: auto;
    transition: all 0.4s;
}

.silversounddetector .ssd-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.silversounddetector button {
    padding: 0.8rem 2rem;
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--dark-gray);
    background-color: var(--gold);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

.silversounddetector button:hover {
    transform: scale(1.1);
}

.services {
    padding: 4rem 2rem;
    height: 90vh;
    text-align: center;
    color: var(--white);
    border-top: 5px solid var(--dark-gray);
}

.services h3 {
    margin-top: 17vh;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service-item {
    background-color: var(--purple);
    margin-top: 8vh;
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--white);
}

.service-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.service-item h4 {
    margin-bottom: 1rem;
    color: var(--gold);
}

.service-item p {
    color: var(--white);
    line-height: 1.5rem;
}

.savoir {
    padding: 4rem 2rem;
    height: 90vh;
    text-align: center;
    color: var(--white);
    background: var(--dark-gray);
    animation: gradientBG 15s ease infinite;
    background-size: 200% 100%;
    border-top: 5px solid var(--dark-gray);
}

.savoir h2 {
    margin-top: 10vh;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.savoir-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.savoir-item {
    background: linear-gradient(120deg, var(--pink), var(--gold));
    margin-top: 8vh;
    padding: 2rem;
    border-radius: 8px;
    width: 500px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--white);
}

.savoir-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.savoir-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.savoir-item h3 {
    margin-bottom: 1rem;
    color: var(--gold);
    font-size: 1.5rem;
}

.savoir-item p {
    color: var(--white);
    font-size: 1.2rem;
}

.fonda {
    padding: 4rem 2rem;
    height: 90vh;
    text-align: center;
    color: var(--white);
    background: linear-gradient(120deg, var(--pink), var(--gold));
    animation: gradientBG 15s ease infinite;
    background-size: 200% 100%;
    border-top: 5px solid var(--dark-gray);
}

.fonda h2 {
    margin-top: 10vh;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.fonda-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.fonda-item {
    background: linear-gradient(120deg, var(--purple), var(--pink));
    margin-top: 8vh;
    padding: 2rem;
    border-radius: 8px;
    width: 500px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s, linear-gradient 0.4s ease;
    color: var(--white);
}
.fonda-item:hover {
    background: linear-gradient(120deg, var(--pink), var(--purple));
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.fonda-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.fonda-item h3 {
    margin-bottom: 1rem;
    color: var(--gold);
    font-size: 1.7rem;
    text-decoration: underline;
}

.fonda-item p {
    color: var(--white);
    font-size: 1.2rem;
}

.pointer {
    cursor: pointer;
}

footer {
    background-color: var(--dark-gray);
    text-align: center;
    padding: 2rem;
    border-top: 1px solid var(--purple);
}

footer p {
    margin: 0;
    color: var(--white);
}