<!--
 * @author Silvercore 
 * @author Silverdium
 * @author MisterPapaye
-->

<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- meta divers -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="hostname" content="silverdium.fr">
        <meta name="copyright" content="2024 - 2025 Silverdium | SilverCore">
        <meta name="author" content="SilverCore | Silverdium | xzp4x | MisterPapaye">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#9316d3">

        <link id="favicon" rel="icon" href="https://api.silverdium.fr/img/dium/logo.png" type="image/png">

        <!-- meta SEO --> 
        <meta name="keywords" content="minecraft, modée, jeux, serveur minecraft, serveur, silvercore, silverdium, open source, ethique, silvertransfer, pvp faction modée, MisterPapaye, jemy5">
        <meta name="description" content="Silverdium, serveur Minecraft PVP - FACTION - MODEE unique en son genre pour votre aventure éxtraordinaire !! redécouvrez Minecraft avec Silverdium, by SilverCore">
        <meta name="language" content="fr">
        <meta name="geo.region" content="FR">
        <meta name="googlebot" content="index, follow">
        <meta name="rating" content="general">
        <meta name="format-detection" content="telephone=no">

        <!-- meta open graph -->
        <meta property="og:title" content="Silverdium">
        <meta property="og:description" content="Silverdium, serveur Minecraft PVP - FACTION - MODEE unique en son genre pour votre aventure éxtraordinaire !! redécouvrez Minecraft avec Silverdium, by SilverCore">
        <meta property="og:image" content="https://api.silverdium.fr/img/dium/logo.png">
        <meta property="og:site_name" content="Rejoindre - Silverdium - Minecraft">
        <meta property="og:locale" content="fr_FR">

    
        <!-- SilverPopups -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- <script src="https://corsproxy.io/https://t.silverdium.fr/popup.js" type="module"></script>
        <script src="https://corsproxy.io/https://t.silverdium.fr/popups.js" type="module"></script> -->
 
        
        <!-- Google Analytics  -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y1S2EJD13P"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-Y1S2EJD13P');
        </script>

        <!-- recaptcha for your security !! -->
        <script src="https://www.google.com/recaptcha/api.js?render=6LcSAs4qAAAAAC65G0pzxb3I5pQh9Na-l7oDaEF-"></script>



        <!-- libs javascript -->
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- libs css -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

        <!-- utils scripts -->
        <script src="/src/assets/js/utils/loadblock.js" defer></script>
        <script src="/assets/verify_auth?ext=js" type="module" defer></script>

        <!-- patern -->
        <link rel="stylesheet" href="/src/assets/css/patern/bluestyle.css">
        <link rel="stylesheet" href="/src/assets/css/patern/purpelline.css">

        <!-- Basic style -->
        <!-- <link rel="stylesheet" href="/assets/body?ext=css"> -->
        <link rel="stylesheet" href="/assets/header?ext=css">







        <!-- Page style -->
        <link rel="stylesheet" href="/src/assets/css/pages/rejoindre-silverdium/hero.css">
        <link rel="stylesheet" href="/src/assets/css/pages/rejoindre-silverdium/launcher_img.css">
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;

                overflow-x: hidden;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
                text-align: center;
                align-content: center;

                background: linear-gradient(
                    120deg,
                    #5f08b1,
                    #c218b9,
                    #b8119c,
                    #c21054,
                    #a74913
                );
                background-size: 400% 400%;
                animation: gradient 20s ease infinite;
            }

            body::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('/src/assets/img/lobby.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                filter: blur(1px) brightness(0.65) saturate(1.3);
                z-index: -1;
            }
        </style>

        <!-- page scripts -->
        <script src="/assets/btn_launcher?ext=js"></script>



        <title>Rejoindre - Silverdium | Serveur Minecraft "PVP - FACTION - MODEE" unique en son genre</title>

    </head>

    <body>
        
        <header>

            <a href="/"><div>
                <img src="https://api.silverdium.fr/img/dium/logo.png" alt="Logo">
                <h2 class="titleh2">Silverdium</h2>
            </div></a>

            <nav class="nav">

                <span id="menu-toggle" class="bi bi-list"></span>
                <ul id="ul">
                    <li><a href="/"><i class="bi bi-house-door"></i>Accueil</a></li>
                    <li><a href="/go/tipeee"><i class="bi bi-heart-fill"></i>Faire un don</a></li>
                    <li><a href="/go/rejoindre-silverdium"><i class="bi bi-arrow-down-circle"></i>Launcher</a></li>
                    <li><a href="/#savoir"><i class="bi bi-question-circle"></i>En savoir plus</a></li>
                    <li><a href="/go/discord"><i class="bi bi-discord"></i>Discord</a></li>
                </ul>

                <script defer>
                    const menu = document.getElementById("menu-toggle")
                    
                    menu.addEventListener("click",() => {
                        
                        const ul = document.getElementById("ul");
                        
                        if (ul.style.display === 'flex') { ul.style.display = 'none'; menu.style.transform = 'rotate(0deg)' }
                        else { ul.style.display = 'flex'; menu.style.transform = 'rotate(90deg)' }

                    });
                </script>

            </nav>

            <nav id="account_ul">

                <div class="auth_nav">

                    <ul style="display: flex; flex-direction: row;">
                        <li><a href="/login"><i class="bi bi-key-fill"></i>Connection</a></li>
                        <li><a href="/register">Inscription<i style="margin-right: 0; margin-left: 10px;" class="bi bi-person-plus-fill"></i></a></li>
                    </ul>

                </div>


                <div class="auth_profile">

                    <ul style="display: flex; flex-direction: row;">
                        <li><img id="face_skin"></li>
                        <li class="dropdown">
                            <a style="display: flex; flex-direction: row;" id="auth_name">Nom d'utilisateur</a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/profile"><i class="bi bi-person-circle"></i>Profile</a></li>
                                <li><a href="/user/skin"><i class="bi bi-pencil"></i>Mon skin</a></li>
                                <li id="auth_profile_admin"><a href="/admin"><i class="bi bi-gear"></i>Panel admin</a></li>
                                <li><style>#logout:hover { color: red; }</style><a id="logout"><i class="bi bi-box-arrow-right"></i>Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
                

            </nav> 
             
        </header>
        


        <main class="hero">

            <h1><strong> TELECHARGER LE LAUNCHER </strong></h1>

            <div class="launcher_btn">

                <div>
                    <button onclick="downl('linux')"><img class="btn-linux" src="https://api.silverdium.fr/img/app/linux.png"></button>
                    <button onclick="downl('win')" style="color: #357EC7; text-shadow: 0 0 900px rgba(213, 122, 25, 0.829);" class="bi bi-windows"></button>
                </div>
                <div>
                    <button onclick="downl('mac')" style="text-shadow: 0 0 900px rgba(255, 255, 255, 0.653);" class="bi bi-apple"></button>
                    <button onclick="github('launcher')" style="color: #ffff; text-shadow: 0 0 900px rgba(0, 0, 0, 0.792);" class="bi bi-github"></button>
                </div>

            </div>

            <strong class="text">
                <h3>
                    <ul>
                        Le launcher de silverdium,
                        <br>permet la mise a jours automatique
                        <br>des mods et interface de silverdium !
                    </ul>
                    <ul>
                        <li>Codé en javascript, css et html</li>
                        <li>Basé sur le <a href="https://github.com/luuxis/Selvania-Launcher">selvana launcher</a></li>
                        <li>open source sur <a href="https://github.com/Philippeletug/Silverdium-Launcher/">github</a></li>
                    </ul>
                </h3>
            </strong>

            <a style="text-decoration: none;" class="btn_img_a" href="#launcher_img"><button class="btn_img">Capture d'écran</button></a>

        </main>

        <div style="position: relative; top: -90px;" id="launcher_img"></div>
        <section class="launcher_img">

            <div class="launcher_card">

                <div class="launcher_img_contaner">
                    <img src="/src/assets/img/launcher/img3.png" placeholder="Capture d'écran">
                </div>
                
                <div class="launcher_img_contaner">
                    <img src="/src/assets/img/launcher/img4.png" placeholder="Capture d'écran">
                </div>

            </div>

            <div class="launcher_card">

                <div class="launcher_img_contaner">
                    <img src="/src/assets/img/launcher/img5.png" placeholder="Capture d'écran">
                </div>
                
                <div class="launcher_img_contaner">
                    <img src="/src/assets/img/launcher/img1.png" placeholder="Capture d'écran">
                </div>

            </div>

        </section>


        <div id="footer"></div>
 
    </body>

    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            });
        });
    </script>

</html>