.header {
    /* background-image: url("image/baniere.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    padding: 1px 10px;
    position: relative;
    left: 0%;
    top: 0%;
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
}

.header img{
    width: 100vh;
    opacity: 0;
}

body {
    background-color: #00000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1250px;
    max-height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.content {
    padding: 10px;
    text-align: center;
}

/* Style souligne annime */
.souligne {
    text-decoration: underline;
}
.souligne::after {
    display: flex;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffae00;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.souligne:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Ajoute une animation de déplacement aux éléments .pos-titre-info */
.ted {
    position: relative;
    top: 50px;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.ted {
    top: 0;
    opacity: 1;
}

/* Button annime */
.button {
    background-color: #ffa200;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #0fa4be;
    color: rgb(16, 16, 16);
    border: 2px solid #4CAF50;
}

/* style button navbar */
.button-navbar {
    background-color: #ffa200;
    color: rgb(0, 0, 0);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
}
.button-navbar:hover {
    background-color: #0352e4;
    color: rgb(255, 255, 255);
}

.select-btn-home {
    background-color: #ff7b00;
    font-size: 17px;
    margin: 5px 6px;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
}

.backcolor {
    background-color: rgb(30, 0, 30);
}

.black {
    color: rgb(16, 16, 16);
}

.police {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    color: rgb(50, 50, 50);
}

title {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.logo-head {
    max-width: 500px;
    max-height: auto;
}

iframe {
    width: 1200px;
    height: 1560px;
}







/* responsive disaine */
/* @media only screen and (max-width: 800px) {
    .container {
        max-width: 700px;
        max-height: 500px;
    }
} */
