.yaa {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: none;
    background: none;
    animation: down 1s ease-in-out;
}

@keyframes down {
    0% {
        transform: translateY(-20px);
    }
    80% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.countdown {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.countdown h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.time {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.time div div {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    width: 80px;
    animation: pulse 2s infinite;
}

.time div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.countdown h1 span {
    animation: round 1s ease-in-out;
    display: inline-block;
}

.countdown h1:hover span:hover {
    animation: round 1s ease-in-out;
    display: inline-block;
}

.countdown h1 strong span {
    animation: fadeIn 2s ease-in-out;
    display: inline-block;
}

.countdown h1 strong:hover span:hover {
    animation: fadeIn 2s ease-in-out;
    display: inline-block;
}

.countdown small {
    margin-top: 15px;
}

@keyframes round {
    0% {
        transform: rotate(0deg);        
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}



.time div div span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.time div div small {
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e0e0e0;
}


@media (max-width: 700px) {
    .time div div span {
        font-size: 1,5rem;
        flex-direction: column;
        justify-content: none;
    }
    .time div div small {
        margin-top: 4px;
        font-size: 0.5;
    }
    .time div {
        flex-direction: column;
    }
    .countdown h1 {
        font-size: 1.5rem;
    }
    .countdown {
        padding: 14px;
    }
    .time {
        gap: 14px;
    }
}